@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica, sans-serif;
 --secondary-font: "Work Sans", Helvetica, sans-serif;


 img {
  max-width: 100%;
 }

 body {
  font-family: var(--primary-font);
  color: var(--text-dark);
  background-color: white;
  margin: 0;
  padding: 0;
 }

 #skiptocontent a {
  position: absolute;
  left: -9999px;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
 }

 #skiptocontent a:focus {
  left: 50px;
 }

 #skiptocontent a:hover {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
 }

 header {
  border-bottom: 4px solid var(--text-light);
  width: 100%;
 }

 .logo {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  margin-top: 50px;
 }

 .logo img {
  width: 100px;
  height: auto;
 }

 .logo h1 {
  font-family: var(--secondary-font);
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--text-dark);
  margin: 0;
  padding: 0;
 }

 #search-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
 }

 #search-bar {
  width: 300px;
  color: var(--text-light);
  font-size: 20px;
  border: 1px solid var(--text-dark);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
 }

 #search-button {
  width: 45px;
  height: 30px;
  border: 1px solid var(--text-dark);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
 }

 #maincontent {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .recipe {
  margin: 25px;
  padding: 25px;
  border: 1px solid var(--text-dark);
  border-radius: 5px;
  width: 400px;
 }

 .recipe .tags {
  display: inline-flex;
  border: 1px solid var(--text-dark);
  border-radius: 5px;
  padding: 7px;
  margin-top: 2px;
 }

 .recipe .recipe-title {
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
 }

 .recipe .recipe-rating {
  margin-bottom: 15px;
 }

 .recipe .recipe-description {
  display: none;
 }

 .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
 }

 .social img {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
 }

 #attribution {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  text-decoration: none;
 }

 @media screen and (min-width: 650px) {
  #search-bar {
   width: 600px;
  }

  .recipe {
   display: flex;
   flex-direction: row;
   width: 600px;
  }

  .recipe img {
   width: auto;
   height: 300px;
   margin-right: 25px;
  }

  .recipe-info {
   display: flex;
   flex-direction: column;
  }

  .recipe .tags {
   display: inline-flex;
  }

  .recipe .recipe-description {
   margin-top: 0px;
   display: block;
  }

  body {
   display: grid;
   align-items: center;
   justify-items: center;
  }

  footer {
   width: 650px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
  }

  #attribution {
   grid-row: 1/2;
   grid-column: 1/2;
   justify-self: start;
  }

  .social {
   grid-column: 2/3;
   align-self: center;
   justify-self: last baseline;
  }

 }

 @media screen and (min-width: 960px) {
  #search-bar {
   width: 910px;
  }

  .recipe {
   width: 910px;
  }

  .recipe img {
   width: auto;
   height: 400px;
   margin-right: 25px;
  }

  footer {
   width: 960px;
  }

  header {
   width: 1000px;
  }
 }
}