#mission-content {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.dark {
 background-color: #333;
 color: white;
}

.dark h2 {
 color: #A0D4ED;
}

#theme-div {
 display: flex;
}

header {
 display: flex;
 flex-direction: column;
 align-items: center;
}

footer {
 display: flex;
 justify-content: center;
}

h1,
h2,
p,
li {
 font-family: 'Times New Roman', 'serif';
}

h1 {
 text-transform: uppercase;
 letter-spacing: 2px;
 margin-bottom: 0px;
}

h1,
li,
p {
 line-height: 1.5;
}

p,
ol,
li {
 margin-top: 5px;
 margin-bottom: 5px;
}

h2 {
 color: #006EB6;
 font-weight: lighter;
 letter-spacing: 2px;
}

p,
li,
h2 {
 font-size: 20px;
}

main {
 max-width: 600px;
 border-top: 1px solid grey;
 display: flex;
 flex-direction: column;
}

#byui-logo {
 max-width: 150px;
 align-self: center;
}