body {
 background-color: lightgray;
 margin: 0px;
}

header,
footer {
 background-color: blueviolet;
 padding: 12px;
}

#menuButton {
 display: none;
}

.viewer {
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 background-color: rgba(0, 0, 0, 0.75);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

#close-div {
 width: 90%;
 display: flex;
 flex-direction: row-reverse;
}

.close-viewer {
 background-color: transparent;
 color: white;
 font-size: 24px;
 border: none;
}

a,
footer {
 color: white;
 font-size: 24px;
}

h1 {
 align-self: center;
}

.headHomeLink {
 text-decoration: none;
 font-size: 36px;
}

header {
 display: flex;
 flex-direction: column;
}

nav {
 display: flex;
 justify-content: space-around;
}

#large-img {
 max-width: 90%;
 max-height: 90%;
}

.gallery-img {
 max-width: 100%;
 width: 250px;
 height: 250px;
 object-fit: cover;
 background-color: white;
 padding: 5px;
}

main {
 display: flex;
 flex-direction: column;
}

h2 {
 align-self: center;
}

.gallery {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 justify-items: center;
}

.links {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.hide {
 display: none;
}

@media screen and (max-width: 1000px) {
 .gallery {
  grid-template-columns: 1fr 1fr;
 }
}

@media screen and (max-width: 700px) {
 .gallery {
  grid-template-columns: 1fr;
 }
}

@media screen and (max-width: 500px) {
 nav {
  flex-direction: column;
  align-items: center;
 }

 #menuButton {
  display: inline;
  font-size: 36px;
  border: none;
  background-color: transparent;
  color: white;
 }

 .links {
  flex-direction: column;
  align-items: center;
 }
}