body {
 max-width: 100%;
 padding: 24px;
 padding-top: 50px;
}

form {
 border: 2px solid var(--accent1-color);
 padding: 1em;
}

.form-section {
 margin-bottom: 12px;
}

#team-section {
 display: flex;
 flex-direction: column;
}

#team-section input {
 margin-bottom: 12px;
}