:root {
 /* change the values below to your colors from your palette */
 --primary-color: #191308;
 --secondary-color: #F7FFF7;
 --accent1-color: #4ECDC4;

 /* change the values below to your chosen font(s) */
 --heading-font: "Merriweather", serif;
 --paragraph-font: "Open Sans", sans-serif;

 /* these colors below should be chosen from among your palette colors above */
 --headline-color-on-white: var(--primary-color);
 /* headlines on a white background */
 --headline-color: var(--secondary-color);
 /* headlines on a colored background */
 --paragraph-color: var(--secondary-color);
 --paragraph-color-on-white: var(--primary-color);
 /* paragraph text on a white background */
 --paragraph-color-on-color: var(--primary-color);
 /* paragraph text on a colored background */
 --paragraph-background-color: var(--secondary-color);
 --nav-link-color: var(--primary-color);
 --nav-background-color: var(--secondary-color);
 --nav-hover-link-color: var(--secondary-color);
 --nav-hover-background-color: var(--primary-color);
 --page-background-color: var(--primary-color);
 /* links on colored background */
 --link-color: var(--accent1-color);
}

body {
 background-color: var(--page-background-color);
}

a {
 color: var(--link-color);
}

p {
 color: var(--secondary-color);
}

/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
 max-width: 1200px;
 margin: 0 auto;
 padding: 4em;
 font-size: 18px;
}

img {
 display: block;
 margin: 0 auto;
 max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: var(--heading-font);
 color: var(--headline-color);
}

h2 {
 text-align: center;
}

hr {
 height: 3px;
 margin: 35px 0;
 background: var(--accent1-color);
}

header {
 padding: 1em;
 text-align: center;
 color: var(--paragraph-color-on-color);
 background-color: var(--paragraph-background-color);
 border: 5px solid var(--accent1-color);
 border-radius: 100px;
}

header>h1,
header>h2 {
 color: var(--headline-color-on-white);
}

p,
span,
label {
 font-family: var(--paragraph-font);
 color: var(--paragraph-color);
 padding: 1em;
}

label,
span {
 padding: 0px;
}

.required-symbol {
 color: red;
}

.colors {
 width: 100%;
 min-width: 350px;
 margin: 30px auto;
 text-align: center;
}

.colors th {
 background-color: #999;
}

.colors td {
 width: 25%;
 height: 3em;
}

.primary {
 background-color: var(--primary-color);
 color: var(--secondary-color);
}

.secondary {
 background-color: var(--secondary-color);
}

.accent1 {
 background-color: var(--accent1-color);
}

.accent2 {
 background-color: var(--accent2-color);
}

.colored {
 background-color: var(--paragraph-background-color);
 color: var(--paragraph-color-on-white);
 border: 5px solid var(--accent1-color);
 border-radius: 10px;
}

div.colored p,
div.colored label,
div.colored span,
form.colored label {
 color: var(--paragraph-color-on-white);
}

.colored-no-border {
 background-color: var(--paragraph-background-color);
 color: var(--paragraph-color-on-white);
}

nav {
 background-color: var(--nav-background-color);
 line-height: 3em;
 text-align: center;
 font-size: 1.2em;
 border: 5px solid var(--accent1-color);
 border-radius: 100px;
}

nav {
 list-style-type: none;
 display: flex;
 justify-content: space-around;
}

#site-plan-nav {
 margin-bottom: 36px;
}

nav a {
 margin: 1em;
 min-width: 120px;
 text-decoration: none;
 padding: 10px;
}

nav a:link,
nav a:visited {
 color: var(--nav-link-color);
}

nav a:hover,
nav a:focus {
 color: var(--nav-hover-link-color);
 background-color: var(--nav-hover-background-color);
}

.sitemap {
 display: grid;
 justify-content: center;

 grid-template-columns: repeat(6, 15%);
 grid-template-rows: 3em 1.5em 1.5em 3em;
 grid-template-areas:
  ". . home home . ."
  ". . . top . ."
  ". left left right right ."
  "page2 page2 . . page3 page3";
}

.sitemap>div {
 text-align: center;
}

.sm-home {
 grid-area: home;
 background-color: #ccc;
 line-height: 3em;
}

.sm-page2 {
 grid-area: page2;
 background-color: #ccc;
 line-height: 3em;
}

.sm-page3 {
 grid-area: page3;
 background-color: #ccc;
 line-height: 3em;
}

.top {
 grid-area: top;
 border-left: 1px solid;
}

.left {
 grid-area: left;
 border-top: 1px solid;
 border-left: 1px solid;
}

.right {
 grid-area: right;
 border-top: 1px solid;
 border-right: 1px solid;
}

#bracket-logo {
 width: 100px;
 max-width: 100%;
 padding: 6px;
 background-color: var(--secondary-color);
}

/*Focus indicator*/
*:focus {
 outline: 2px solid var(--accent1-color);
}

/*Skip to main*/
.skip a {
 position: absolute;
 top: -100px;
 left: 0;
 background-color: var(--secondary-color);
 color: var(--primary-color);
 padding: 10px;
}

.skip a:focus {
 top: 0px;
}